<div class="row">
  <h1><%= image_tag('mailbutler.png', width:"100", height:"100") %></h1>
  <div class="col-sm-12 text-xs-center col-sm-offset-3">
    <h1>Welcome to MailButler!</h1>
    <p class="lead">Your personal assistant for efficient and productive work.</p>
  </div>
</div>

<div class="jumbotron">
  <div class="col-sm-12 well">
    <div class="text-center">
      <%= link_to "Dropbox!", dropbox_index_path, class: "btn-lg btn-warning"  %>
      <%= link_to "Wunderlist!", wunderlist_index_path, class: "btn-lg btn-info" %>
    </div>
  </div>
</div>