<div>
  <p class="well">You have all this lists waiting for you:</p>
  <% @client.object.lists.each do |list| %>
    <ul>
      <li>
        <%- if list.tasks.empty? %>
          <%= list.title %> - [Empty list]
        <% else %>
          <%= render partial: 'tasks', locals: { list: list } %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>