<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="<%="heading#{list.id}"%>">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse#{list.id}" %>" aria-expanded="false" aria-controls="<%= "collapse#{list.id}"%>">
          <%= list.title %>
        </a>
      </h5>
    </div>
    <div id="<%= "collapse#{list.id}" %>" class="collapse" role="tabpanel" aria-labelledby="<%="heading#{list.id}"%>">
      <div class="card-block">
        <% list.tasks.each do |task| %>
          <%= render partial: 'task', locals: { task: task } %>
        <% end %>
      </div>
    </div>
  </div>
</div>