<ul class="list-group">
  <li class="list-group-item">Title: <%= task.title %></li>
  <li class="list-group-item">Due date: <%= task.due_date %></li>
  <li class="list-group-item">Status:
    <% if task.completed %>
      Completed! (<%= task.completed_at %>)
    <% else %>
      Pending...
  </li>
    <% end %>
  <li class="list-group-item">Comments: <%= task.task_comments %></li>
</ul>