<div class="col-sm-12">
  <% if current_user.authenticated_with? controller_name.to_sym %>
      <div><%= link_to "#{controller_name.capitalize} << Logout", send("#{controller_name}_disconnect_path"), class: "btn-sm btn-danger" %></div>
      <%= render 'title' %>
      <%= render partial: "#{controller_name}/list" %>
  <% else %>
      <p><%= link_to "#{controller_name.capitalize} >> Login", send("#{controller_name}_auth_path"), class: "btn-sm btn-success" %></p>
  <% end %>

  <%= render 'back' %>
</div>